@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;} 
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;font-weight: normal} 
img,input{border:none;vertical-align:middle;} 
body{font-family:"微软雅黑";font-size:12px;background-color:#fff;color:#333;margin: 0;padding: 0;} 
html{overflow-y:scroll;} 
ul,ol{list-style-type:none;} 
th,td,input{font-size:12px;} 
h3{font-size:14px;}
i,em{font-style: normal} 
button{border:none;cursor:pointer;font-size:12px;background-color:transparent;} 
select{border-width:1px;_zoom:1;border-style:solid;padding-top:2px;font-size:12px;} 
.clear{clear:both;} 
.clearfix:after{content:"";display:block;clear:both;} 
.clearfix{zoom:1;} 
a{text-decoration:none;color: #383838;} 
input[type="text"],input[type="button"], input[type="submit"], input[type="reset"],input[type="password"]  {-webkit-appearance: none;background: none;outline: none;}
textarea {-webkit-appearance: none;outline: none;} 
select{outline: none;}
.lf{float: left;}
.rt{float: right;}
